Repository playdata-final-project-team/Wesell, pull requests merged in 2024-02, with the labels that each got.

#198 Feat 197 : [Auth] - 카카오 소셜 회원 탈퇴 기능 수정
  authentication-server/src/main/java/com/wesell/authenticationserver/controller/AuthController.java
  authentication-server/src/main/java/com/wesell/authenticationserver/domain/entity/AuthUser.java
  authentication-server/src/main/java/com/wesell/authenticationserver/domain/feign/UserServiceFeignClient.java
  authentication-server/src/main/java/com/wesell/authenticationserver/service/AuthServiceImpl.java
  authentication-server/src/main/java/com/wesell/authenticationserver/service/KakaoService.java
  authentication-server/src/main/java/com/wesell/authenticationserver/service/dto/oauth/KakaoInfo.java
  authentication-server/src/main/java/com/wesell/authenticationserver/service/dto/oauth/KakaoToken.java
  authentication-server/src/main/resources/application.yml
  front-server/src/App.tsx
  front-server/src/apis/index.ts
  front-server/src/layouts/Header/index.tsx
  front-server/src/pages/Authentication/index.tsx
  front-server/src/pages/Social/kakao/index.tsx
  front-server/src/pages/withdraw/index.tsx
  user-service/src/main/java/com/wesell/userservice/controller/UserFeignController.java
  user-service/src/main/java/com/wesell/userservice/domain/entity/User.java
  user-service/src/main/java/com/wesell/userservice/domain/service/UserService.java
  user-service/src/main/java/com/wesell/userservice/service/UserServiceImpl.java
Labels: re-factoring

#200 feat: 카테고리 별 게시판 만들기, 메인페이지 1차캐싱
  board-service/build.gradle
  board-service/src/main/java/com/wesell/boardservice/config/RedisCacheConfig.java
  board-service/src/main/java/com/wesell/boardservice/config/RedisConfig.java
  board-service/src/main/java/com/wesell/boardservice/controller/BoardController.java
  board-service/src/main/java/com/wesell/boardservice/controller/PostController.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/AllPostsResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/CommentResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/PageResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/PostResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/request/PostRequestDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/entity/Comment.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/BoardRepository.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/PostRepository.java
  board-service/src/main/java/com/wesell/boardservice/feignClient/UserFeignClient.java
  board-service/src/main/java/com/wesell/boardservice/service/BoardService.java
  board-service/src/main/java/com/wesell/boardservice/service/PostService.java
  board-service/src/main/resources/application.yml
Labels: feat

#202 Feat 201 : [Auth & User] 회원 탈퇴 DB 처리 로직 수정
  authentication-server/src/main/java/com/wesell/authenticationserver/controller/AuthController.java
  authentication-server/src/main/java/com/wesell/authenticationserver/domain/entity/AuthUser.java
  authentication-server/src/main/java/com/wesell/authenticationserver/domain/entity/KakaoUser.java
  authentication-server/src/main/java/com/wesell/authenticationserver/domain/feign/UserServiceFeignClient.java
  authentication-server/src/main/java/com/wesell/authenticationserver/service/AuthServiceImpl.java
  user-service/src/main/java/com/wesell/userservice/controller/UserFeignController.java
  user-service/src/main/java/com/wesell/userservice/domain/service/UserService.java
  user-service/src/main/java/com/wesell/userservice/service/UserServiceImpl.java
Labels: re-factoring

#205 feat: Redis 성능 테스트 및 게시물 삭제, 수정 로직 추가
  board-service/src/main/java/com/wesell/boardservice/controller/PostController.java
  board-service/src/main/java/com/wesell/boardservice/controller/RedisTestController.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/request/PostUpdateRequestDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/entity/Post.java
  board-service/src/main/java/com/wesell/boardservice/error/ErrorCode.java
  board-service/src/main/java/com/wesell/boardservice/service/BoardService.java
  board-service/src/main/java/com/wesell/boardservice/service/CommentService.java
  board-service/src/main/java/com/wesell/boardservice/service/PostService.java
Labels: feat

#211 fix: 조회수 오류 및 댓글 중복 오류 관련 처리
  board-service/src/main/java/com/wesell/boardservice/controller/CommentController.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/CommentRepositoryImpl.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/CustomCommentRepository.java
  board-service/src/main/java/com/wesell/boardservice/error/ErrorCode.java
  board-service/src/main/java/com/wesell/boardservice/feignClient/UserFeignClient.java
  board-service/src/main/java/com/wesell/boardservice/service/PostService.java
Labels: wontfix

#213 [Front] - 게시판 메인 페이지 구현
  apigateway-server/src/main/resources/application.yml
  board-service/src/main/java/com/wesell/boardservice/controller/BoardController.java
  board-service/src/main/java/com/wesell/boardservice/controller/RedisTestController.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/AllPostsResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/PageResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/BoardRepository.java
  board-service/src/main/java/com/wesell/boardservice/error/ErrorCode.java
  board-service/src/main/java/com/wesell/boardservice/service/BoardService.java
  board-service/src/main/resources/application.yml
  front-server/src/App.tsx
  front-server/src/apis/index.ts
  front-server/src/components/Pagination/index.tsx
  front-server/src/components/Pagination/style.css
  front-server/src/components/PostList/index.tsx
  front-server/src/components/PostList/style.css
  front-server/src/pages/ChatRoomPage/index.tsx
  front-server/src/pages/Main/index.tsx
  front-server/src/pages/Mypage/index.tsx
  front-server/src/pages/Post/main/index.tsx
  front-server/src/pages/Post/main/style.css
  front-server/src/pages/myPayList/index.tsx
  front-server/src/pages/search/category.tsx
  front-server/src/pages/search/title.tsx
  front-server/src/setupProxy.js
  front-server/src/types/interface/index.ts
  front-server/src/types/interface/post-list-item.ts
Labels: feat, front-end

#215 feat: 게시글 작성 페이지 구현
  board-service/src/main/java/com/wesell/boardservice/controller/PostController.java
  front-server/package-lock.json
  front-server/package.json
  front-server/src/App.tsx
  front-server/src/components/PostList/index.tsx
  front-server/src/components/PostList/style.css
  front-server/src/components/TextEditor/index.tsx
  front-server/src/index.tsx
  front-server/src/pages/Post/main/index.tsx
  front-server/src/pages/Post/write/index.tsx
  front-server/src/pages/Post/write/style.css
Labels: feat, front-end

#219 feat : 게시판 카테고리 바 추가
  board-service/src/main/java/com/wesell/boardservice/controller/BoardController.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/BoardListResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/service/BoardService.java
  front-server/src/App.css
  front-server/src/assets/images/board-list-icon1.png
  front-server/src/assets/images/board-list-icon2.png
  front-server/src/assets/images/board-list-icon3.png
  front-server/src/components/SideButtonBox/style.css
  front-server/src/layouts/Container/index.tsx
  front-server/src/layouts/Container/style.css
  front-server/src/layouts/LeftAside/index.tsx
  front-server/src/layouts/LeftAside/style.css
  front-server/src/layouts/RightAside/index.tsx
  front-server/src/layouts/RightAside/style.css
  front-server/src/pages/Main/index.tsx
Labels: feat, front-end

#221 feat: 게시글 대댓글 페이지 구현
  board-service/src/main/java/com/wesell/boardservice/controller/CommentController.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/CommentResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/PageResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/PostResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/CommentRepository.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/CommentRepositoryImpl.java
  board-service/src/main/java/com/wesell/boardservice/service/CommentService.java
  board-service/src/main/java/com/wesell/boardservice/service/PostService.java
  front-server/src/App.tsx
  front-server/src/apis/index.ts
  front-server/src/components/CommentItem/index.tsx
  front-server/src/components/CommentItem/style.css
  front-server/src/components/CommentList/index.tsx
  front-server/src/components/CommentList/style.css
  front-server/src/pages/Post/detail/index.tsx
  front-server/src/pages/Post/main/index.tsx
  front-server/src/pages/Post/write/index.tsx
  front-server/src/types/interface/comment.ts
  front-server/src/types/interface/index.ts
  user-service/src/main/java/com/wesell/userservice/controller/UserController.java
Labels: feat, front-end

#223 Feat 212
  deal-service/src/main/java/com/wesell/dealservice/controller/DealController.java
  deal-service/src/main/java/com/wesell/dealservice/controller/feign/PayDealController.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/request/EditPostRequestDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/request/UploadDealPostRequestDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/response/EditPostResponseDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/response/MainPagePostResponseDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/response/ProductInfoResponseDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/entity/DealPost.java
  deal-service/src/main/java/com/wesell/dealservice/domain/repository/read/ViewDao.java
  deal-service/src/main/java/com/wesell/dealservice/service/DealServiceImpl.java
  front-server/src/apis/response/myPayPage/index.ts
  front-server/src/apis/response/myPayPage/my.pay-list-page.ts
  front-server/src/components/payTextArea/index.css
  front-server/src/components/payTextArea/index.js
  front-server/src/components/table/CommonTable.css
  front-server/src/components/table/CommonTable.js
  front-server/src/components/table/CommonTableColumn.js
  front-server/src/components/table/CommonTableRow.js
  front-server/src/pages/Pay/beforePay/index.css
  front-server/src/pages/Pay/beforePay/index.tsx
  front-server/src/pages/Pay/detail/index.css
  front-server/src/pages/Pay/detail/index.tsx
  front-server/src/pages/Pay/index.tsx
  front-server/src/pages/board/detail/index.css
  front-server/src/pages/board/detail/index.tsx
  front-server/src/pages/board/write/Write.css
  front-server/src/pages/myPayList/index.tsx
  front-server/src/pages/myPayList/style.css
  image-server/src/main/java/com/wesell/imageserver/controller/ProductImageController.java
  pay-service/src/main/java/com/wesell/payservice/controller/PaymentController.java
  pay-service/src/main/java/com/wesell/payservice/domain/repository/PayRepository.java
  pay-service/src/main/java/com/wesell/payservice/feign/DealFeign.java
  pay-service/src/main/java/com/wesell/payservice/service/pay/PayServiceImpl.java
Labels: feat, enhancement, front-end
