Repository playdata-final-project-team/Wesell, pull requests merged in 2024-01, with the labels that each got.

#176 Feat: chat-service 생성 및 기본 설정
  authentication-server/src/main/java/com/wesell/authenticationserver/controller/AuthController.java
  authentication-server/src/main/java/com/wesell/authenticationserver/controller/AuthFeignController.java
  chat-service/.gitignore
  chat-service/build.gradle
  chat-service/gradle/wrapper/gradle-wrapper.jar
  chat-service/gradle/wrapper/gradle-wrapper.properties
  chat-service/gradlew
  chat-service/gradlew.bat
  chat-service/settings.gradle
  chat-service/src/main/java/com/wesell/chatservice/ChatServiceApplication.java
  chat-service/src/main/java/com/wesell/chatservice/controllers/ChatController.java
  chat-service/src/main/java/com/wesell/chatservice/domain/ChatMessage.java
  chat-service/src/main/java/com/wesell/chatservice/domain/ChatRoom.java
  chat-service/src/main/java/com/wesell/chatservice/global/config/WebSocketConfig.java
  chat-service/src/main/java/com/wesell/chatservice/global/response/ApiResponse.java
  chat-service/src/main/java/com/wesell/chatservice/global/response/error/CustomException.java
  chat-service/src/main/java/com/wesell/chatservice/global/response/error/ErrorApiResponse.java
  chat-service/src/main/java/com/wesell/chatservice/global/response/error/ErrorCode.java
  chat-service/src/main/java/com/wesell/chatservice/global/response/error/ErrorControllerAdvisor.java
  chat-service/src/main/java/com/wesell/chatservice/global/response/success/SuccessApiResponse.java
  chat-service/src/main/java/com/wesell/chatservice/global/response/success/SuccessCode.java
  chat-service/src/main/java/com/wesell/chatservice/services/EnterRoomService.java
  chat-service/src/main/java/com/wesell/chatservice/services/QuitRoomService.java
  chat-service/src/main/resources/application.yml
  chat-service/src/test/java/com/wesell/chatservice/ChatServiceApplicationTests.java
Labels: feat

#177 Feat : pay-service 생성 및 결제, 배송 프로세스 생성
  apigateway-server/src/main/resources/application.yml
  deal-service/build.gradle
  deal-service/src/main/java/com/wesell/dealservice/controller/DealController.java
  deal-service/src/main/java/com/wesell/dealservice/controller/feign/AdminDealController.java
  deal-service/src/main/java/com/wesell/dealservice/controller/feign/PayDealController.java
  deal-service/src/main/java/com/wesell/dealservice/domain/repository/read/ViewDao.java
  deal-service/src/main/java/com/wesell/dealservice/error/ErrorCode.java
  deal-service/src/main/java/com/wesell/dealservice/service/DealServiceImpl.java
  deal-service/src/main/java/com/wesell/dealservice/service/feign/AdminDealService.java
  deal-service/src/main/java/com/wesell/dealservice/service/feign/PayDealService.java
  deal-service/src/main/resources/application.yml
  front-server/package-lock.json
  front-server/package.json
  front-server/src/App.tsx
  front-server/src/components/payTextArea/index.js
  front-server/src/constant/index.ts
  front-server/src/pages/Mypage/index.tsx
  front-server/src/pages/Pay/beforePay/index.tsx
  front-server/src/pages/Pay/detail/index.tsx
  front-server/src/pages/Pay/index.tsx
  front-server/src/pages/board/detail/index.tsx
  front-server/src/pages/board/edit/index.tsx
  front-server/src/pages/board/write/Write.tsx
  pay-service/.gitignore
  pay-service/build.gradle
  pay-service/gradle/wrapper/gradle-wrapper.jar
  pay-service/gradle/wrapper/gradle-wrapper.properties
  pay-service/gradlew
  pay-service/gradlew.bat
  pay-service/settings.gradle
  pay-service/src/main/java/com/wesell/payservice/PayServiceApplication.java
  pay-service/src/main/java/com/wesell/payservice/controller/DeliveryController.java
  pay-service/src/main/java/com/wesell/payservice/controller/PaymentController.java
  pay-service/src/main/java/com/wesell/payservice/domain/dto/request/RequestDeliveryDto.java
  pay-service/src/main/java/com/wesell/payservice/domain/dto/request/RequestPayDto.java
  pay-service/src/main/java/com/wesell/payservice/domain/dto/response/ResponseDeliveryDto.java
  pay-service/src/main/java/com/wesell/payservice/domain/dto/response/ResponseDetailFacadeDto.java
  pay-service/src/main/java/com/wesell/payservice/domain/dto/response/ResponseMyPaidDto.java
  pay-service/src/main/java/com/wesell/payservice/domain/dto/response/ResponsePayDto.java
  pay-service/src/main/java/com/wesell/payservice/domain/dto/search/PayViewDao.java
  pay-service/src/main/java/com/wesell/payservice/domain/entity/Delivery.java
  pay-service/src/main/java/com/wesell/payservice/domain/entity/Pay.java
  pay-service/src/main/java/com/wesell/payservice/domain/repository/DeliveryRepository.java
  pay-service/src/main/java/com/wesell/payservice/domain/repository/PayRepository.java
  pay-service/src/main/java/com/wesell/payservice/enumerate/PayType.java
  pay-service/src/main/java/com/wesell/payservice/enumerate/ShippingStatus.java
  pay-service/src/main/java/com/wesell/payservice/feign/DealFeign.java
  pay-service/src/main/java/com/wesell/payservice/service/delivery/DeliveryService.java
  pay-service/src/main/java/com/wesell/payservice/service/delivery/DeliveryServiceImpl.java
  pay-service/src/main/java/com/wesell/payservice/service/facade/FacadeService.java
  pay-service/src/main/java/com/wesell/payservice/service/pay/PayService.java
  pay-service/src/main/java/com/wesell/payservice/service/pay/PayServiceImpl.java
  pay-service/src/main/resources/application-db.yml
  pay-service/src/main/resources/application.yml
  pay-service/src/test/java/com/wesell/payservice/PayServiceApplicationTests.java
Labels: feat, help wanted, front-end

#179 Feat: 실시간 채팅 서비스 구현 및 프론트 구현 & 테스트
  apigateway-server/src/main/resources/application.yml
  chat-service/build.gradle
  chat-service/src/main/java/com/wesell/chatservice/controller/ChatController.java
  chat-service/src/main/java/com/wesell/chatservice/controller/ChatMessageController.java
  chat-service/src/main/java/com/wesell/chatservice/controller/ChatRoomController.java
  chat-service/src/main/java/com/wesell/chatservice/controllers/ChatController.java
  chat-service/src/main/java/com/wesell/chatservice/domain/ChatMessage.java
  chat-service/src/main/java/com/wesell/chatservice/domain/ChatRoom.java
  chat-service/src/main/java/com/wesell/chatservice/domain/entity/ChatMessage.java
  chat-service/src/main/java/com/wesell/chatservice/domain/entity/ChatRoom.java
  chat-service/src/main/java/com/wesell/chatservice/domain/repository/ChatMessageRepository.java
  chat-service/src/main/java/com/wesell/chatservice/domain/repository/ChatRoomRepository.java
  chat-service/src/main/java/com/wesell/chatservice/domain/service/ChatMessageCreateService.java
  chat-service/src/main/java/com/wesell/chatservice/domain/service/ChatMessageLoadService.java
  chat-service/src/main/java/com/wesell/chatservice/domain/service/ChatRoomCreateService.java
  chat-service/src/main/java/com/wesell/chatservice/domain/service/ChatRoomLoadService.java
  chat-service/src/main/java/com/wesell/chatservice/dto/command/ChatMessageCreateCommand.java
  chat-service/src/main/java/com/wesell/chatservice/dto/command/ChatRoomCreateCommand.java
  chat-service/src/main/java/com/wesell/chatservice/dto/query/ChatMessageListQuery.java
  chat-service/src/main/java/com/wesell/chatservice/dto/query/ChatRoomListQuery.java
  chat-service/src/main/java/com/wesell/chatservice/dto/query/ChatRoomQuery.java
  chat-service/src/main/java/com/wesell/chatservice/dto/request/ChatMessageRequestDto.java
  chat-service/src/main/java/com/wesell/chatservice/dto/request/ChatRoomRequestDto.java
  chat-service/src/main/java/com/wesell/chatservice/dto/response/ChatMessageResponseDto.java
  chat-service/src/main/java/com/wesell/chatservice/dto/response/ChatRoomListResponseDto.java
  chat-service/src/main/java/com/wesell/chatservice/dto/response/ChatRoomResponseDto.java
  chat-service/src/main/java/com/wesell/chatservice/exception/ChatMessageNotFoundException.java
  chat-service/src/main/java/com/wesell/chatservice/exception/ChatRoomNotFoundException.java
  chat-service/src/main/java/com/wesell/chatservice/global/config/WebConfig.java
  chat-service/src/main/java/com/wesell/chatservice/global/config/WebSocketConfig.java
  chat-service/src/main/java/com/wesell/chatservice/global/response/error/ErrorCode.java
  chat-service/src/main/java/com/wesell/chatservice/global/response/success/SuccessCode.java
  chat-service/src/main/java/com/wesell/chatservice/service/ChatMessageCreateServiceImpl.java
  chat-service/src/main/java/com/wesell/chatservice/service/ChatMessageLoadServiceImpl.java
  chat-service/src/main/java/com/wesell/chatservice/service/ChatRoomCreateServiceImpl.java
  chat-service/src/main/java/com/wesell/chatservice/service/ChatRoomLoadServiceImpl.java
  chat-service/src/main/java/com/wesell/chatservice/service/EnterRoomService.java
  chat-service/src/main/java/com/wesell/chatservice/service/QuitRoomService.java
  chat-service/src/main/resources/application.yml
  front-server/package-lock.json
  front-server/package.json
  front-server/src/App.tsx
  front-server/src/apis/index.ts
  front-server/src/apis/request/chat/chat-message.request.dto.ts
  front-server/src/apis/request/chat/chat-room.request.dto.ts
  front-server/src/apis/request/chat/index.ts
  front-server/src/apis/response/chat/chat-message.response.dto.ts
  front-server/src/apis/response/chat/chat-room-list.response.dto.ts
  front-server/src/apis/response/chat/chat-room.response.dto.ts
  front-server/src/apis/response/chat/index.ts
  front-server/src/components/ChatMessageList/index.tsx
  front-server/src/components/ChatMessageList/style.css
  front-server/src/pages/ChatMessagePage/index.tsx
  front-server/src/pages/ChatMessagePage/style.css
  front-server/src/pages/ChatRoomPage/index.tsx
  front-server/src/pages/ChatRoomPage/style.css
  front-server/src/pages/ChatTestPage/index.tsx
  front-server/src/pages/ChatTestPage/style.css
  front-server/src/setupProxy.js
Labels: feat, front-end

#183 feat & fix: 기존 딜 서버 페이지 업데이트 하며 구매 내역 페이지 구현
  deal-service/src/main/java/com/wesell/dealservice/controller/DealController.java
  deal-service/src/main/java/com/wesell/dealservice/controller/feign/PayDealController.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/request/EditPostRequestDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/request/RequestCreateDealPostDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/request/UploadDealPostRequestDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/response/DealUserResponseDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/response/EditPostResponseDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/dto/response/ProductInfoResponseDto.java
  deal-service/src/main/java/com/wesell/dealservice/domain/entity/DealPost.java
  deal-service/src/main/java/com/wesell/dealservice/domain/repository/read/ViewDao.java
  deal-service/src/main/java/com/wesell/dealservice/feignClient/UserFeignClient.java
  deal-service/src/main/java/com/wesell/dealservice/service/DealService.java
  deal-service/src/main/java/com/wesell/dealservice/service/DealServiceImpl.java
  deal-service/src/main/java/com/wesell/dealservice/service/feign/PayDealService.java
  front-server/src/apis/response/myPayPage/index.ts
  front-server/src/apis/response/myPayPage/my.pay-list-page.ts
  front-server/src/components/TextArea/TextArea.js
  front-server/src/pages/board/detail/index.tsx
  front-server/src/pages/board/edit/index.tsx
  front-server/src/pages/board/write/Write.tsx
  front-server/src/pages/myPayList/index.tsx
  front-server/src/setupProxy.js
  image-server/.gitignore
  image-server/src/main/java/com/wesell/imageserver/domain/dto/request/UploadFileRequestDto.java
  image-server/src/main/java/com/wesell/imageserver/domain/repository/ProductImageViewDao.java
  pay-service/src/main/java/com/wesell/payservice/controller/PaymentController.java
  pay-service/src/main/java/com/wesell/payservice/domain/dto/response/MyPayListResponseDto.java
  pay-service/src/main/java/com/wesell/payservice/domain/dto/search/PayViewDao.java
  pay-service/src/main/java/com/wesell/payservice/domain/entity/Pay.java
  pay-service/src/main/java/com/wesell/payservice/domain/repository/PayRepository.java
  pay-service/src/main/java/com/wesell/payservice/feign/DealFeign.java
  pay-service/src/main/java/com/wesell/payservice/global/response/error/ErrorCode.java
  pay-service/src/main/java/com/wesell/payservice/service/facade/FacadeService.java
  pay-service/src/main/java/com/wesell/payservice/service/pay/PayService.java
  pay-service/src/main/java/com/wesell/payservice/service/pay/PayServiceImpl.java
  user-service/src/main/java/com/wesell/userservice/controller/UserFeignController.java
  user-service/src/main/java/com/wesell/userservice/domain/entity/User.java
  user-service/src/main/java/com/wesell/userservice/domain/repository/UserRepository.java
  user-service/src/main/java/com/wesell/userservice/dto/response/DealUserResponseDto.java
  user-service/src/main/java/com/wesell/userservice/service/UserServiceImpl.java
Labels: feat, enhancement, front-end

#185 feat: 채팅 서비스 로직 수정 및 프론트 CSS 구현 완료
  chat-service/build.gradle
  chat-service/src/main/java/com/wesell/chatservice/controller/ChatController.java
  chat-service/src/main/java/com/wesell/chatservice/controller/ChatMessageController.java
  chat-service/src/main/java/com/wesell/chatservice/controller/ChatRoomController.java
  chat-service/src/main/java/com/wesell/chatservice/domain/entity/ChatMessage.java
  chat-service/src/main/java/com/wesell/chatservice/domain/entity/ChatRoom.java
  chat-service/src/main/java/com/wesell/chatservice/domain/feign/ImageFeignService.java
  chat-service/src/main/java/com/wesell/chatservice/domain/repository/ChatRoomRepository.java
  chat-service/src/main/java/com/wesell/chatservice/domain/service/ChatMessageCreateService.java
  chat-service/src/main/java/com/wesell/chatservice/domain/service/ChatRoomCreateService.java
  chat-service/src/main/java/com/wesell/chatservice/domain/service/ChatRoomLoadService.java
  chat-service/src/main/java/com/wesell/chatservice/dto/command/ChatMessageCreateCommand.java
  chat-service/src/main/java/com/wesell/chatservice/dto/query/ChatMessageListQuery.java
  chat-service/src/main/java/com/wesell/chatservice/dto/query/ChatRoomQuery.java
  chat-service/src/main/java/com/wesell/chatservice/dto/request/ChatRoomRequestDto.java
  chat-service/src/main/java/com/wesell/chatservice/dto/response/ChatRoomResponseDto.java
  chat-service/src/main/java/com/wesell/chatservice/global/config/WebSocketConfig.java
  chat-service/src/main/java/com/wesell/chatservice/global/response/error/ErrorCode.java
  chat-service/src/main/java/com/wesell/chatservice/global/util/DateFormatUtil.java
  chat-service/src/main/java/com/wesell/chatservice/global/util/SearchUtil.java
  chat-service/src/main/java/com/wesell/chatservice/service/ChatMessageCreateServiceImpl.java
  chat-service/src/main/java/com/wesell/chatservice/service/ChatRoomCreateServiceImpl.java
  chat-service/src/main/java/com/wesell/chatservice/service/ChatRoomLoadServiceImpl.java
  chat-service/src/main/resources/application.yml
  front-server/src/App.tsx
  front-server/src/apis/request/chat/chat-message.request.dto.ts
  front-server/src/apis/request/chat/chat-room.request.dto.ts
  front-server/src/apis/response/chat/chat-room.find-one.response.dto.ts
  front-server/src/apis/response/chat/chat-room.response.dto.ts
  front-server/src/apis/response/chat/create.chat-room.response.dto.ts
  front-server/src/apis/response/chat/index.ts
  front-server/src/components/ChatMessageList/index.tsx
  front-server/src/components/ChatMessageList/style.css
  front-server/src/components/ChatRoomItem/idnex.tsx
  front-server/src/components/ChatRoomItem/style.css
  front-server/src/components/ChatRoomList/index.tsx
  front-server/src/components/ChatRoomList/style.css
  front-server/src/components/SideButtonBox/index.tsx
  front-server/src/components/SideButtonBox/style.css
  front-server/src/components/card/Card.js
  front-server/src/pages/Authentication/index.tsx
  front-server/src/pages/ChatMessagePage/index.tsx
  front-server/src/pages/ChatMessagePage/style.css
  front-server/src/pages/ChatRoomPage/index.tsx
  front-server/src/pages/ChatRoomPage/style.css
  front-server/src/pages/ChatTestPage/index.tsx
  front-server/src/pages/ChatTestPage/style.css
  front-server/src/pages/Main/index.tsx
  front-server/src/pages/Mypage/index.tsx
  front-server/src/pages/board/testDetail/index.css
  front-server/src/pages/board/testDetail/index.tsx
  front-server/src/pages/myPayList/index.tsx
  image-server/.gitignore
  image-server/.idea/misc.xml
  image-server/.idea/vcs.xml
  image-server/src/main/java/com/wesell/imageserver/controller/feign/ChatImageFeignController.java
  image-server/src/main/java/com/wesell/imageserver/domain/repository/ChatImageViewDao.java
  user-service/src/main/java/com/wesell/userservice/service/feign/AuthServerFeignClient.java
Labels: feat

#192 [Board] - 댓글 및 게시글 페이징 처리
  board-service/.gitignore
  board-service/build.gradle
  board-service/gradle/wrapper/gradle-wrapper.jar
  board-service/gradle/wrapper/gradle-wrapper.properties
  board-service/gradlew
  board-service/gradlew.bat
  board-service/settings.gradle
  board-service/src/main/generated/com/wesell/boardservice/domain/entity/QBoard.java
  board-service/src/main/generated/com/wesell/boardservice/domain/entity/QComment.java
  board-service/src/main/generated/com/wesell/boardservice/domain/entity/QPost.java
  board-service/src/main/java/com/wesell/boardservice/BoardServiceApplication.java
  board-service/src/main/java/com/wesell/boardservice/config/QuerydslConfiguration.java
  board-service/src/main/java/com/wesell/boardservice/controller/BoardController.java
  board-service/src/main/java/com/wesell/boardservice/controller/CommentController.java
  board-service/src/main/java/com/wesell/boardservice/controller/PostController.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/feign/BoardFeignRequestDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/AllPostsResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/CommentResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/ErrorResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/PageResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/reponse/PostResponseDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/request/CommentRequestDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/dto/request/PostRequestDto.java
  board-service/src/main/java/com/wesell/boardservice/domain/entity/Board.java
  board-service/src/main/java/com/wesell/boardservice/domain/entity/Comment.java
  board-service/src/main/java/com/wesell/boardservice/domain/entity/DeleteStatus.java
  board-service/src/main/java/com/wesell/boardservice/domain/entity/Post.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/BoardRepository.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/CommentRepository.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/CommentRepositoryImpl.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/CustomCommentRepository.java
  board-service/src/main/java/com/wesell/boardservice/domain/repository/PostRepository.java
  board-service/src/main/java/com/wesell/boardservice/error/ControllerAdvisor.java
  board-service/src/main/java/com/wesell/boardservice/error/ErrorCode.java
  board-service/src/main/java/com/wesell/boardservice/error/exception/CustomException.java
  board-service/src/main/java/com/wesell/boardservice/feignClient/UserFeignClient.java
  board-service/src/main/java/com/wesell/boardservice/service/BoardService.java
  board-service/src/main/java/com/wesell/boardservice/service/CommentService.java
  board-service/src/main/java/com/wesell/boardservice/service/PostService.java
  board-service/src/main/resources/application.yml
  board-service/src/test/java/com/wesell/boardservice/BoardServiceApplicationTests.java
  user-service/src/main/java/com/wesell/userservice/controller/UserFeignController.java
  user-service/src/main/resources/application.yml
Labels: feat

#187 feat: 알림 서비스 구현
  .idea/misc.xml
  front-server/.gitignore
  front-server/.idea/misc.xml
  front-server/.idea/workspace.xml
  front-server/package-lock.json
  front-server/package.json
  front-server/public/service-worker.js
  front-server/src/App.tsx
  front-server/src/constant/index.ts
  front-server/src/pages/Notification/index.tsx
  front-server/src/pages/Notification/logger.ts
  front-server/src/pages/Notification/login.tsx
  front-server/src/pages/Notification/middlewares.ts
  front-server/src/pages/Notification/server.ts
  front-server/src/setupProxy.js
  front-server/src/types/interface/index.ts
  front-server/src/types/interface/push-message.ts
  front-server/tsconfig.json
Labels: feat, front-end
